DEBUG=balancer
SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/balancer-labs/balancer-v2
PORT=8890
MAX_POOLS=4
INFURA_PROJECT_ID=
DOMAIN_NAME=
DYNAMODB_POOLS_READ_CAPACITY=25
DYNAMODB_POOLS_WRITE_CAPACITY=25
DYNAMODB_TOKENS_READ_CAPACITY=10
DYNAMODB_TOKENS_WRITE_CAPACITY=10