#**
    Return a flat list of results from a Query or Scan operation.
*#
{
    "pools": $utils.toJson($context.result.items)
    #if( ${context.result.nextToken} )
        ,"skip": $util.toJson($context.result.nextToken)
    #end
}